*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px white(0, 0, 0, 0, 30);
    position: fixed;
    z-index: 1030;
    background-color: white;
    margin-top: 0;

}
nav a{
    padding: 5em;
    padding-top: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
nav{
    width: 100%;
    margin: auto;
    width: 100%;
    height: 45%;
}
@media all and (max-width: 900px) {
    nav a{
        font-size: 10px;
    }
}

.tete{
    margin-left: 6em ;
}
.banniere{
    background: url(head.jpeg);
    height: 40em;
    margin: auto;
}
.banniere h1{
    color: white;
    font-family: inter;
    font-style: bold;
    line-height: 0.8em;
    text-align: center;
    font-size: 4em;
    padding-top: 25%;
    animation: entrance 5s infinite alternate;
}
@keyframes entrance{
    from{
        opacity: 0;
    }
    to {
        opacity: 5;
    }
}
.raison{
    background: url(section2.jpeg);
    height: 40em;
    margin: auto;
}
.raison h3{
    color: white;
    font-family: inter;
    font-size: bold;
    text-align: center;
    letter-spacing: 0.2cm;
    padding-top: 150px;
}
.raison h4{
    color: white;
    font-family: inter;
    text-align: center;
    letter-spacing: 0.1cm;
    padding-top: 30px;
}
.raison h1{
    color: white;
    line-height: 0.1em;
}
.raison1{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
.raison p{
    color: white;
}
.r1 h1{
    font-size: 80px;
    padding-left: 40px;
}
.r1 p{
    padding-top: 50px;
}
.r2{
    padding-top: 90px; 
}
.r2 h1{
    font-size: 80px;
    padding-left: 30px;
}
.r2 p{
    padding-top: 50px;
}
.r3 h1{
    font-size: 80px;
    padding-left: 30px;
}
.r3 p{
    padding-top: 50px;
}
.nous {
    background-color: #022d4d;
    height: 23em;
}
.nous1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}
.nous h4{
    color: white;
    margin-left: 180px;
    padding-top: 40px;
}
.nous p{
    color: white;
}
.contact{
    height: 25em;
}
.contact1{
    line-height: 30px;
}
.contact h3{
    text-align: center;
    padding-top: 40px;
}
.contact p{
    text-align: center;
    padding-top: 20px;
}

.champ{
    background-color: #E5E5E5;
    border: #E5E5E5;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 5px;
}
.champ1{
    background-color: white;
    cursor: pointer;
    border-color: #0284E2;
    padding-right: 25px;
    padding-bottom: 10px;
}
.champ2{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.temoignage h3{
    text-align: center;
    padding-top: 40px;
    color: black;
}
.temoignage h4{
    color: white;
    text-align: right;
    padding-left: 10px;
}
.temoignage p{
    color: white;
}
.box{
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.tm1{
    width: 23%;
    border: 1px solid #014CD9;
    background-color: #014CD9;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
.tm2{
    display: flex;
}
.radius img{
border-radius: 10px;
margin-left: -5px;
}

.lieu{
    height: 23em;
    background-color: #022d4d;
}
.lieu h4{
    margin-left: 180px;
    padding-top: 30px;
    color: white;
}
.lieu0{
    display: flex;
    justify-content: space-between;
}
.lieu1{
    margin-left: 180px;
    line-height: 3em;
    justify-content: space-between;
    color: white;
}

.partenaire{
    height: 20em;
}
.partenaire h3{
    text-align: center;
    padding-top: 50px;
}
.partenaire1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
    animation: entrance 2s infinite alternate;
}
@keyframes entrance{
    from{
        opacity: 0;
    }
    to {
        opacity: 5;
    }
}
.rs{
    background: url(sectionrs.jpeg);
    height: 10em;
}
.rs1{
    color: white;
    margin-left: 180px;
    padding-top: 40px;
}
.lien{
    margin-left: 200px;
    padding-top: 50px;
}
.pied{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 2px white(0, 0, 0, 0, 30);
    height: 100px;
}
.pied1{
    margin-left: 100px;
}
.pied2{
    margin-right: 100px;
}